<!DOCTYPE html>
<html>

{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'dailyquestionsheet.css' %}" />

<head>
   <title> Daily Question </title>
</head>

<body>
  <div>
   <table id="header">
     <tr>
      <th colspan="4"><h1>Miner Village Trivia Challenge</h1></th>
     </tr>
     <tr>
       <td><a href="{% url 'trivia:about' %}">About Us</a></td>
       <td><a href="{% url 'trivia:profile' user.user.id %}">Your Profile</a></td>
       <td><a href="{% url 'trivia:leader' %}">Leaderboard</a></td>
       <td><a href="{% url 'trivia:logout' %}">Logout</a></td>
     </tr>
   </table></div>
   <h2> Question for {{ date }} </h2>
   
   {% if not user.last_answered == date %}
      <h3> {{ question_text }} </h3>

      <form action="/trivia/daily/" method="POST">
      {% csrf_token %}
      {{ form }}
      <br><br>
      <input type="submit" value="Submit" />
      </form>
    
   {% else %}
      <h3> You have already answered the Question for today. </h3>
      <h3> Come back tomorrow! </h3>
   {% endif %}

   <br>
   <p>
      Check the <a href="{% url 'trivia:leader' %}">Leaderboard</a>
   </p>
</body>

</head>
</html>