<!DOCTYPE html>
<html>
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'leaderboardsheet.css' %}" />
<head>
   <title> Leaderboard </title>
</head>

<body>
  <div>
   <table id="header">
     <tr>
      <th colspan="4"><h1>Miner Village Trivia Challenge</h1></th>
     </tr>
     <tr>
       <td><a href="{% url 'trivia:about' %}">About Us</a></td>
       <td><a href="{% url 'trivia:profile' user.id %}">Your Profile</a></td>
       <td><a href="{% url 'trivia:daily' %}">Daily Question</a></td>
       <td><a href="{% url 'trivia:logout' %}">Logout</a></td>
     </tr>
   </table></div>
   <h2> Leaderboard </h2>
   
   <table id="board" align="left" style="width:100%">
     <tr>
        <th align="center">Username</th>
        <th align="center">Total Points</th>
     </tr>

 <!--  for every user in database, display their user name and points in descending order  -->
   
   {% for x in user_list %}
     <tr>
        <td><a href = "{% url 'trivia:profile' x.user.id %}"> {{ x.user.username }}</a></td>
        <td>{{ x.num_correct }}</td>
     </tr>
   {% endfor %}
   </table>
</body>

</head>
</html>