<!DOCTYPE html>
<html>
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'profilesheet.css' %}"/><link type="text/css" rel="stylesheet" href="profilesheet.css"/>
<head>
   <title> Profile </title>
</head>

<body>
   <div id="header"><h1>Miner Village Trivia Challenge</h1></div>
   <h2> Profile </h2>
   
   <table align="center">
     <tr>
        <td><strong>Username: </strong></td>
        <td/><td/>
        <td>{{ user.user.username }}</td><!-- make current username = username and display here -->
     </tr>
     <tr>
        <td><strong>Questions answered:</strong></td>
        <td/><td/>
        <td>{{ user.num_total }}</td><!-- query db and display number of questions answered -->
     </tr>
     <tr>
        <td><strong>Total correct:</strong></td>
        <td/><td/>
        <td>{{ user.num_correct }}</td><!-- query db for total points. Display-->
     </tr>
   </table>
   
</body>

</head>
</html>