<!DOCTYPE html>
<html>
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'signupsheet.css' %}" />
<head>
   <title> Sign Up </title>
</head>

<body>
  <div>
   <table id="header">
     <tr>
      <th ><h1>Miner Village Trivia Challenge</h1></th>
     </tr>
     <tr>
       <td><a href="{% url 'trivia:about' %}">About Us</a></td>
    </tr>
  </table></div>
   <h2>


   {% if registered %}
   <br/>Thank you for registering!
   <a href='{% url 'trivia:daily' %}'> Go to daily question </a>
  
   {% else %}
   <br/>Register here!

   </h2>
   
   <form aid="user_form" method="post" action='/trivia/signup/'>
    {% csrf_token %}
    {{ user_form.as_p }}
    <br><br>
    <input type="submit" name="submit" value="Submit" />
   </form>

   {% endif %}
   <br>
</body>

</head>
</html>